<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>



 <h4>Title: <%= result.Title  %> </h4>
 <p>Rated: <%= result.Rated %> </p>
 <p>Released: <%= result.Released %> </p>
 <p>Runtime: <%= result.Runtime %> </p>
 <p>Genre: <%= result.Genre %> </p>
 <p>Director: <%= result.Director %> </p>
 <p>Actors: <%= result.Actors %> </p>
 <p>Plot: <%= result.Plot %> </p>
 <p>Country: <%= result.Country %> </p>
 <p>Awards: <%= result.Awards %> </p>
 <p>IMDB rating: <%= result.imdbRating %> </p>
 <a href="https://www.imdb.com/title/<%=result.imdbID%> ">IMDB link</a>




